---
import Butt from './Butt.astro';
import Head from './Head.astro';
---

<div class="logo" tabindex="1">
  <Butt />
  <Head />
</div>

<style>
  .logo {
    @apply flex w-[42px] h-[42px] focus:!outline-none cursor-pointer;
  }

  .logo:focus,
  .logo:hover {
    animation: 3s horseUpright forwards;
  }

  .logo:focus [astro-icon="horse-head"],
  .logo:hover [astro-icon="horse-head"] {
    animation: 3s horseHead forwards;
  }

  .logo:focus [astro-icon="horse-butt"],
  .logo:hover [astro-icon="horse-butt"] {
    animation: 3s horseButt forwards;
  }

  @keyframes horseUpright {
    40% {
      transform: rotateX(0);
    }

    45% {
      transform: rotateY(180deg);
    }

    100% {
      transform: rotateY(180deg);
    }

  }

  @keyframes horseButt {
    10% {
      transform: rotateX(0);
    }

    15% {
      transform: rotateX(180deg);
    }

    20% {
      transform: translate(0px, -12px) rotateX(180deg);
    }

    25% {
      transform: translate(0px, 0px) rotateX(180deg);
    }

    30% {
      transform: translate(0px, 0px) rotateX(180deg);
    }

    50% {
      transform: translate(0px, 0px) rotateX(180deg);
    }

    55% {
      transform: translate(0px, -12px) rotateX(180deg);
    }

    60% {
      transform: translate(0px, 0px) rotateX(180deg);
    }

    100% {
      transform: translate(0) rotateX(180deg);
    }

  }

  @keyframes horseHead {
    25% {
      transform: translate(0);
    }

    30% {
      transform: translate(0, -12px);
    }

    35% {
      transform: translate(0);
    }

    45% {
      transform: translate(0);
    }

    50% {
      transform: translate(0, -12px);
    }

    55% {
      transform: translate(0);
    }
  }
</style>