---
import Section from '../elements/Section.astro';
export interface Props {
	title?: string;
	body?: string;
	href?: string;
  cta?: string;
  direction?: string;
}

const { cta, href, title, body, direction } = Astro.props;
let bgClass = 'noise-forwards contrast-[3]';
if(direction == 'reverse') {
  bgClass = 'noise-reverse contrast-[2]';
}

---

<Section classes="h-[200vh] w-full relative">
  <div class="z-10 relative flex justify-center items-center h-screen">
    <h1 class="font-logo leading-none font-extrabold text-[15vw] text-lemon text-center">{title}</h1>
  </div>
  <div class="absolute inset-0 w-full h-full">
    <div class="isolate w-full h-full relative">
      <div class=`${bgClass} h-full`></div>
      <div class="absolute inset-0 w-full h-full bg-hotpink mix-blend-color-dodge"></div>
    </div>
  </div>
  <div class="inset-0 w-full h-screen items-center justify-center flex sticky">
    <slot />
  </div>
</Section>

<style>
  .noise-forwards {
    background: linear-gradient(167deg, #2C3439, transparent), url(/assets/svgs/noise.svg);   
  }
  .noise-reverse {
    background: linear-gradient(13deg, #2C3439, transparent), url(/assets/svgs/noise.svg);   
  }
</style>
