---
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
export interface Props {
	title: string;
}
const { title } = Astro.props;
---
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Astro description">
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/assets/favicons/favicon.svg" />
  <title>{title}</title>
  <GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=Eczar:wght@800&family=Inter:wght@900&family=Lato&display=swap">
  </GoogleFontsOptimizer>
</head>