---
import Page from "../layouts/Page.astro";
import Hero from "../components/sections/Hero.astro";
import { Icon } from "astro-icon";
import Butt from "../components/global/logo/Butt.astro";
import ClippingMask from "../components/elements/ClippingMask.astro";
---

<Page title="Welcome to Astro.">
  <main>
    <Hero>
      <div class="w-full h-full">
        <div class="w-[33vw] h-full">
          <div class="daisy-clip transition-transform duration-1000 ease-in-out">
            <div class="isolate w-full h-full relative">
              <div class="noise-forwards h-full contrast-[4]"></div>
              <div
                class="absolute inset-0 w-full h-full bg-lemon mix-blend-color-dodge"
              >
              </div>
            </div>
          </div>
        </div>
        <!-- <script client:only> 
          function daisy() {
            return {
              isScrolling: false,
              initScroll() {
                this.isScrolling = !this.isScrolling; 
              },
              handleScroll() {
                if(this.isScrolling) {
                  // translate the daisy to the bottom right corner of the screen
                  const daisy = this.$refs.daisy;
                  const daisyRect = daisy.getBoundingClientRect();
                  const daisyCenter = {
                    x: daisyRect.left + daisyRect.width / 2,
                    y: daisyRect.top + daisyRect.height / 2
                  }
                  const daisyTranslate = {
                    x: window.innerWidth - daisyCenter.x,
                    y: window.innerHeight - daisyCenter.y
                  }

                  daisy.style.transform = `translate(${daisyTranslate.x}px, ${daisyTranslate.y}px)`;
                }
              },
              init() {
                console.log('init');
              }
            }
          }
        </script> -->
      </div>
    </Hero>
    <Hero direction="reverse">
      <!-- <ClippingMask id="2" blendMode="mix-blend-color-dodge" color="bg-lemon" secondaryColor="blue" svgPath="/assets/svgs/daisy.svg"> -->
    </Hero>
    <!-- <div class="h-screen w-full bg-metal relative">
      <div class="absolute inset-0 w-full h-full">
        <div class="isolate w-full h-full relative">
          <div class="noise-forwards h-full contrast-[4]"></div>
          <div
            class="absolute inset-0 w-full h-full bg-metal mix-blend-color-dodge"
          >
          </div>
        </div>
      </div>
    </div> -->
  </main>
</Page>
<style>
  .daisy-clip {
    mask-image: url(/assets/svgs/daisy.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    width: 100%;
    height: 100%;
  }
  .noise-forwards {
    background: linear-gradient(30deg, #f42edd, transparent),
      url(/assets/svgs/noise.svg);
  }
</style>
