<!-- ---
// WIP: Clippy mask component
export interface Props {
	id?: string;
  blendMode?: string;
  color?: string;
  secondaryColor?: string;
  svgPath?: string;
}

const { id, blendMode, color, secondaryColor, svgPath } = Astro.props;
---

<div class={`clipping-mask-${id}`}>
hello world
  <div class="isolate w-full h-full relative">
    <div class="noise-forwards h-full contrast-[4]"></div>
    <div class=`absolute inset-0 w-full h-full ${color} ${blendMode}`>
    </div>
  </div>
  <div class="flex items-center justify-center">
    <slot />
  </div>
</div>

<script>
  const maskClassSelector = `.clipping-mask-${Astro.props.id}`;
  const style = document.createElement('style');
  style.innerHTML = `
    ${maskClassSelector} {
      mask-image: url(${Astro.props.svgPath});
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
      width: 100%;
      height: 100%;
    }
  `;
  document.head.appendChild(style);
</script>

<style define:vars={{secondaryColor}}>
  .noise-forwards {
    background: linear-gradient(30deg, var(--secondaryColor), transparent),
      url(./assets/svgs/noise.svg);
  }
</style> -->
