---
import Head from "../components/global/head/Head.astro";

export interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <Head title={title} />
  <slot />
	<script>
		import Lenis from '@studio-freight/lenis'
		const lenis = new Lenis();
		function raf(time) {
			lenis.raf(time)
			requestAnimationFrame(raf)
		}
		requestAnimationFrame(raf);
		import Alpine from 'alpinejs';
		import intersect from '@alpinejs/intersect';
		
		window.Alpine = Alpine;
		Alpine.plugin(intersect);
		Alpine.start();
	</script>
</html>
