---
import Header from '../components/global/header/Header.astro';
// import Footer from '../components/global/footer/Footer.astro';
import HTML from '../layouts/HTML.astro';
const { title, description, permalink } = Astro.props;
---

<HTML {title}>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    {/* <Footer /> */}
  </body>
</HTML>